* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.btn1 {
  padding: 1.3em 3em;
  background-color: #fff;
  border-color: rgb(70, 32, 105);
  border-radius: 5px;
  margin-right: 2em;
  border-width: thin;
  font-weight: 600;
}

.btn2 {
  background-color: rgb(70, 32, 105);
  padding: 1.3em 3em;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

#page1 {
  margin: 3em 10vw;
  height: 100vh;
}

.page1-flex {
  display: flex;
  justify-content: space-between;
}

.flex-left {
  width: 50%;
}

.flex-right {
  width: 50%;
}

.find {
  font-size: 2.5em;
  font-weight: 600;
  margin-top: 2em;
}

.ojo {
  font-size: 8em;
  font-weight: 700;
  color: rgb(70, 32, 105);
}

.ojo-flex {
  display: flex;
  margin-top: 2em;
}

.line {
  /* width: 10px;
  height: 10px; */
  padding: 0.1em;
  background-color: aquamarine;
}

.p1 {
  color: grey;
  margin-top: 2em;
  font-size: 1.5em;
}

.join-us {
  font-weight: 700;
  margin-top: 2em;
}

.btn-flex {
  display: flex;
  margin-top: 2em;
}

.btnn {
  background-color: rgb(97, 224, 150);
  padding: 1.3em 2em;
  width: 20vw;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* padding-top: 2em; */
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
}

.joinNow {
  color: #fff;
}

.search-text {
  /* font-size: 1.7em; */
  color: #fff;
  /* margin-left: 1.3vw; */
}

.job-title input {
  width: 30vw;
  padding: 2em;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
}

/* PAGE 2 */
#page2 {
  height: 100vh;
}

.connect {
  font-size: 5.2em;
  font-weight: 700;
  margin-left: 14vw;
  padding-top: 1.6em;
}

.p2 {
  color: grey;
  margin-left: 14vw;
  font-size: 1.6em;
  padding-top: 2em;
  line-height: 1.8em;
}

/* Page 3 */

#page3 {
  padding: 5em 10vw;
  height: 100vh;
}

.page3-flex {
  display: flex;
}

.subhead {
  font-size: 1.5em;
  font-weight: 700;
}

.p3 {
  color: grey;
}

.p3bold {
  font-weight: 700;
}

.community {
  margin: 4em;
}

.business {
  margin-top: 3em;
  margin: 4em;
}

.academy {
  margin: 4em;
}

.event {
  margin-top: 3em;
  margin: 4em;
}

/* Page 4 */

#page4 {
  margin: 5em 10vw;
  height: 70vh;
}

.stay {
  font-size: 4em;
  font-weight: 700;
}

.exp {
  font-weight: 700;
  font-size: 1.6em;
}

.p4 {
  color: grey;
}

.chalk {
  font-weight: 700;
  font-size: 1.2em;
}

.contain {
  margin: 2em;
  margin-top: 5em;
}

.pop {
  display: flex;
}

/* Page 5 */

#page5 {
  height: 90vh;
  background-color: rgb(236, 223, 243);
}

.h5 {
  font-size: 4em;
  font-weight: 700;
  padding: 0.5em 0;
  padding-top: 1.3em;
}

.details {
  text-align: center;
  margin: 0 27vw;
  height: 80vh;
}

.p5 {
  font-size: 1em;
  color: grey;
  margin-bottom: 1em;
}

.drop {
  font-weight: 700;
  /* padding: 1.2em 0; */
}

.button-container {
  display: flex;
  justify-content: center;
}

.buttons2 {
  display: flex;
  background-color: grey;
  width: 22vw;
  /* margin: 10px 20px; */
  justify-content: space-around;
  border-radius: 5px;
  height: 2.7em;
}

.work {
  background-color: gray;
  margin: 0.1em;
  width: inherit;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uni {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.1em;
  width: inherit;
  border-radius: 5px;
}

.form-wrap input {
  width: 22vw;
  height: 3.3em;
  /* border-radius: 15px; */
  border: none;
  border-radius: 5px;
}

::placeholder {
  color: grey;
  padding-left: 1.5em;
}

.botton button {
  width: 22vw;
  background-color: rgb(103, 236, 136);
  border: none;
  height: 3.3em;
  border-radius: 5px;
}

.btn5 {
  color: #fff;
}

.form-group {
  margin: 1em 0;
}

/* NavBar */

#navbar {
  height: 10vh;
  background-color: blueviolet;
}

.nav-flex {
  display: flex;
  justify-content: space-evenly;
}

ul {
  display: flex;
  list-style: none;
  margin-left: 10em;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  margin: 2em;
}

.opo {
  color: #fff;
  font-size: 1.6em;
  margin: 1.1em;
}

.pointer {
  font-size: 2em;
  margin: 0.4em;
}

.fonts5 {
  display: flex;
  margin: 0.7em;
  font-size: 2em;
}

i {
  padding-left: 1.1em;
}
